<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Use the recommended Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900">
  <div class="p-5">
    <a href="/task/app/create/<%=userId%>" class="text-blue-800">Go to Back</a>
  </div>
  <div class=" flex  flex-wrap justify-around items-center p-16 gap-4 ">

    <div class="profile flex flex-col gap-2 w-72 p-5  border rounded bg-zinc-800">
      <div class="info p-2 text-white">
        <h4 class=""><%=prevtopic.topic%></h4>
        <h5 class="text-zinc-500"><%=prevtopic.description%></h5>
      </div>
      <div class="nav-btns w-full p-2 flex justify-between">
          <a href="/task/app/delete/<%=prevtopic._id%>/<%=userId%>" class="text-red-400 hover:text-red-800">Delete User</a>
      </div>
    </div>   
    <div>
        <h1 class="text-center text-white text-2xl">Update User</h1>
    <form action="/task/app/update/<%=prevtopic._id%>/<%=userId%>" method="post" class="w-96  m-auto p-10 text-black flex gap-5 flex-wrap">
      <div class="mb-3">
        <label for="newtopic" class="text-xl mb-1 block ">New Topic</label>
        <input type="newtopic" name="newtopic" id="newtopic" class="w-full p-2 border-2  border-cyan-500 rounded" placeholder="Enter New topic">
    </div>
    <div class="mb-3">
        <label for="newdescription" class="text-xl mb-1 block ">Description</label>
        <textarea name="newdescription" id="newdescription" placeholder="Enter task description" rows="5" class="w-full p-2  border-2 border-cyan-500 rounded"></textarea>
    </div>
    <div class="flex mb-1 justify-center">  
        <button type="submit" class="w-full py-2 cursor-pointer bg-cyan-500 text-white rounded hover:bg-cyan-900 transition">Update Task</button>
    </div>
  </form>
    </div>
  </div>
</body>
</html>
