<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Use the recommended Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900">
  <div class="p-5">
    <a href="/task/app/create/<%=userId%>" class="text-blue-800">Go to Back</a>
  </div>
  <div class=" flex  flex-wrap justify-between items-center p-16 gap-4 ">
    <% if(task.length > 0 ){ %> 
    <% task.forEach((task) => { %>
    <div class="profile flex flex-col gap-2 w-72 p-5  border rounded bg-zinc-800">
      <div class="info p-2 text-white">
        <h4 class=""><%=task.topic%></h4>
        <h5 class="text-zinc-500"><%=task.description%></h5>
      </div>
      <div class="nav-btns w-full p-2 flex justify-between">
          <a href="/task/app/edit/<%=task._id%>/<%=userId%>" class="text-zinc-300 hover:text-white">Edit User</a>
          <a href="/task/app/delete/<%=task._id%>/<%=userId%>" class="text-red-400 hover:text-red-800">Delete User</a>
      </div>
    </div>   
      <% } ) %>
    <% } else{ %>
        <h3 class="text-white">No User Created Yet....</h3>
      <%}%>
  </div>
</body>
</html>
